page-dashboard {
  .search{
    .radius{
      box-sizing: border-box;
      width: 65%;
      float: left;
    }

    button{
      box-sizing: border-box;
      width: 25%;
      height: 30px;
      float: right;
    }
  }



}
