<!--
  Generated template for the Dashboard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar hideBackButton color="light">
    <ion-title>NoQueue</ion-title>
    <ion-buttons end>
      <button (click)="showSettingsPage()" ion-button icon-only color="light">
        <ion-icon name="settings" color="dark-grey"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="page-content">
    <div class="search-div">
      <div>
        <ion-input class="searchbar" [(ngModel)]="searchTerm" placeholder="Search Shops" animated="true"></ion-input>
        <button ion-button icon-only color="light" (click)="searchShops()"><ion-icon name="search"></ion-icon></button>
      </div>
    </div>
    <ion-item class="radiusSelect">
      <ion-label>Radius</ion-label>
      <ion-select [(ngModel)]="radius">
        <ion-option value="0" selected="true">None</ion-option>
        <ion-option value="1000">1 km</ion-option>
        <ion-option value="2000">2 km</ion-option>
        <ion-option value="5000">5 km</ion-option>
        <ion-option value="10000">10 km</ion-option>
        <ion-option value="20000">20 km</ion-option>
      </ion-select>
    </ion-item>

    <div class="info" *ngIf="isLoggedIn === false">
      <p><span (click)="showLoginPage()" color="primary">Log in</span> to explore all features of NoQueue, or</p>
      <p><span (click)="showSignupPage()" color="primary">Sign up</span> to create a new account.</p>
    </div>

    <p class="sectionName" *ngIf="isInQueue">My Queue Position</p>

    <div class="ticket-wrapper" *ngIf="isInQueue" (click)="showMyQueuePositionPage()">
      <div class="ticket">
        <div class="title">
          <p class="serviceName">{{myQueuePosition.dlName}}</p>
          <p class="shopName">@{{myQueuePosition.betrieb}}</p>
        </div>
        <div class="informations">
          <div class="time">
            <p class="key">Date & Time</p>
            <p class="value" *ngIf="myQueuePosition.schaetzZeitpunkt">{{myQueuePosition.schaetzZeitpunkt*1000 | date: 'M/d HH:mm'}}</p>
          </div>
          <div class="employee">
            <p class="key">Employee</p>
            <p class="value">{{myQueuePosition.mitarbeiter}}</p>
          </div>
        </div>
      </div>
    </div>

    <p class="sectionName" *ngIf="isLoggedIn">My Shops</p>

    <div class="my-shops" *ngIf="isLoggedIn">
      <p (click)="showMyShopsPage()" *ngIf="managerCount > 0"><ion-badge item-left >{{managerCount}}</ion-badge> shops you manage.</p>
      <p (click)="showMyShopsPage()" *ngIf="employeeCount > 0"><ion-badge item-left >{{employeeCount}}</ion-badge> shops you work for.</p>
      <p (click)="showCreateShopPage()" color="primary">Register a new shop</p>
    </div>
  </div>

</ion-content>
