@import "../../theme/variables.scss";

.ios, .md, .wp{
  page-report-problem {
    ion-content{
      .page-content{
        width: 85%;
        margin: auto;

        address{
          color: map-get($colors, primary);
          font-style: normal;
        }
      }
    }
  }
}


