<!--
  Generated template for the MyShops page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>My Shops</ion-title>
    <ion-buttons end>
      <button (click)="createNewShop()" ion-button icon-only color="light">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p *ngIf="error">{{errorMessage}}</p>

  <p *ngIf="hasShops === false">You have currently no shops.</p>
  <ion-list *ngIf="hasShops">
    <ion-item *ngFor="let shop of myShops">
      <p (click)="showShopSinglePage(shop.id)">{{shop.name}}</p>
    </ion-item>
  </ion-list>

</ion-content>
