@import "../../theme/variables.scss";

.ios, .md, .wp{
  page-about-no-queue {
    ion-content{
      .page-content{
        width: 85%;
        margin: auto;

        .banner{
          width: 250px;
          height: 100px;
          background: url("../../assets/img/app-banner.png");
          margin: auto;
        }

        .noqueue{
          color: map-get($colors, primary);
        }

        .footnote{
          margin-top: 25px;
          color: map-get($colors, lighter-text);
          font-size: map-get($font-sizes, subhead);
        }
      }
    }
  }
}


