<!--
  Generated template for the EditPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="light">
    <ion-title>Edit Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="form">
    <div class="item">
      <p class="label">Enter your old password:</p>
      <ion-input type="password" placeholder="Old password" [ngClass]="{'valid': isValid.oldPassword && oldPassword}" [(ngModel)]="oldPassword" (input)="checkOldPassword()"></ion-input>
      <p class="info" color="danger" *ngIf="isValid.oldPassword === false">{{validationRules.emptyPassword}}</p>
    </div>
    <div class="item">
      <p class="label">Enter your new password:</p>
      <ion-input type="password" placeholder="New password" [ngClass]="{'valid': isValid.newPassword && newPassword}" [(ngModel)]="newPassword" (input)="checkNewPassword()"></ion-input>
      <p class="info" color="danger" *ngIf="isValid.newPassword === false">{{validationRules.newPassword}}</p>
      <p class="info" color="danger" *ngIf="isValid.differentPasswords === false && newPassword && newPassword.length > 0">{{validationRules.samePassword}}</p>
    </div>
    <div class="item">
      <p class="label">Confirm your new password:</p>
      <ion-input type="password" placeholder="New password" [ngClass]="{'valid': isValid.confirmPassword && isValid.passwordsMatching && confirmPassword}" [(ngModel)]="confirmPassword" (input)="checkConfirmPassword()"></ion-input>
      <p class="info" color="danger" *ngIf="isValid.passwordsMatching === false && confirmPassword && confirmPassword.length > 0">{{validationRules.passwordsMatching}}</p>
    </div>
    <button ion-button class="button" full (click)="changePassword()" [disabled]="allFieldsValid === false">Edit Password</button>

  </div>
</ion-content>
