@import "../../theme/variables.scss";

.ios, .md, .wp{
  page-login {
    ion-content{
      .greeting{
        width: 75%;
        margin: 50px auto 20px auto;
        h5{
          text-align: center;
        }
      }
    }
  }
}


