<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border color="light">
  <ion-navbar color="light">
    <ion-title>Log In</ion-title>
    <ion-buttons end>
      <button (click)="skip()" ion-button>
        Skip
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="greeting">
    <h5>Welcome again. We missed you!</h5>
  </div>

  <div class="form">
    <div class="item">
      <p class="label">Enter your username:</p>
      <ion-input type="text" placeholder="Username" [ngClass]="{'valid': username && username.length > 0}" [(ngModel)]="username"></ion-input>
      <p class="info" color="danger" *ngIf="username && username.length == 0">Please fill in this field.</p>
    </div>

    <div class="item">
      <p class="label">Enter your password:</p>
      <ion-input type="password" placeholder="Password" [ngClass]="{'valid': password && password.length > 0}" [(ngModel)]="password"></ion-input>
      <p class="info" color="danger" *ngIf="password && password.length == 0">Please fill in this field.</p>
    </div>

    <button ion-button class="button" full (click)="login()" [disabled]="(username && password && username.length > 0 && password.length > 0) == false">Log In</button>

    <p *ngIf="error" color="danger">{{errorMessage}}</p>

    <p class="error">You don't have an account? <span (click)="showSignupPage()" color="primary">Click here to create one.</span></p>

  </div>
</ion-content>
