<!--
  Generated template for the ServiceInfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="light">
    <ion-title>Service Information</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div class="form">
    <p *ngIf="newShop" class="progress">Step 2: Add Service</p>

    <div class="item">
      <p class="label">Service description:</p>
      <ion-textarea rows="4" placeholder="Description" [ngClass]="{'valid': isValid.description && service.description}"  (input)="checkDescription()"  [(ngModel)]="service.description"></ion-textarea>
      <p class="info" color="danger" *ngIf="isValid.description === false">{{validationRules.description}}</p>
    </div>

    <div class="item">
      <p class="label">Service duration: {{service.duration}} min</p>
      <ion-range min="5" max="120" step="5" snaps="true" color="secondary" [(ngModel)]="service.duration"></ion-range>
    </div>

    <ion-item class="item">
      <ion-label class="label">Service type:</ion-label>
      <ion-select [(ngModel)]="selectedType" (ionChange)="checkType()">
        <ion-option *ngFor="let type of types">{{type}}</ion-option>
      </ion-select>
    </ion-item>
    <p (click)="addCustomType()">Add Custom Type</p>
    <div class="item">
      <p class="info" color="danger" *ngIf="isValid.type === false">{{validationRules.type}}</p>
    </div>

    <button *ngIf="newShop" class="button" ion-button full (click)="proceed()" [disabled]="allFieldsValid == false || selectedType.length < 1">Proceed</button>
    <button *ngIf="newShop === false" class="button" ion-button full (click)="save()" [disabled]="allFieldsValid == false || selectedType.length < 1">Save</button>
  </div>


</ion-content>
