<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border color="light">
  <ion-navbar color="light">
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="content">
    <p class="sectionName">Account</p>
    <ion-list no-lines>
      <ion-item *ngIf="isLoggedIn" (click)="showEditProfilePage()">Edit Profile</ion-item>
      <ion-item *ngIf="isLoggedIn" (click)="showEditPasswordPage()">Edit Password</ion-item>
      <ion-item *ngIf="isLoggedIn" (click)="logout()">Log Out</ion-item>
      <ion-item *ngIf="isLoggedIn" (click)="deleteAccount()">Delete Account</ion-item>
      <ion-item *ngIf="isLoggedIn === false" (click)="showLoginPage()">Log In</ion-item>
      <ion-item *ngIf="isLoggedIn === false" (click)="showSignupPage()">Sign Up</ion-item>
    </ion-list>
    <p class="sectionName">Application</p>
    <ion-list no-lines>
      <ion-item (click)="showReportProblemPage()">Report A Problem</ion-item>
      <ion-item (click)="showFAQPage()">FAQ</ion-item>
      <ion-item (click)="showPrivacyPolicyPage()">Privacy Policy</ion-item>
      <ion-item (click)="showAboutNoQueuePage()">About</ion-item>
    </ion-list>
  </div>
</ion-content>
