<!--
  Generated template for the ServicesPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="positive">

  <ion-navbar color="primary">
    <ion-title>Services</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p *ngIf="loggedIn === false" style="color: red">You are currently not logged in!</p>
  <ion-list no-lines>
    <ion-item *ngFor="let service of services">

      <ion-card (click)="expand(service.id)">
        <ion-card-header>
          {{service.name}} | {{service.id}}
        </ion-card-header>
        <ion-card-content>
          {{service.description}} <br>

          <ion-icon name="clock" item-left color="balanced"></ion-icon> {{service.openingHours}} <br>
          <ion-icon name="pin" item-left></ion-icon> {{service.address}}

        </ion-card-content>
      </ion-card>

    </ion-item>
  </ion-list>
</ion-content>
