<!--
  Generated template for the MyShopSingle page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>My Shop</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item-divider color="light" (click)="editShopInfo()">Info</ion-item-divider>
    <ion-item><ion-icon name="home" item-left></ion-icon>{{shop.name}}</ion-item>
    <ion-item><ion-icon name="map" item-left></ion-icon>{{shop.address}}</ion-item>
    <ion-item><ion-icon name="call" item-left></ion-icon>{{shop.phone}}</ion-item>
    <ion-item><ion-icon name="time" item-left></ion-icon>{{shop.openingHours}}</ion-item>
    <ion-item><ion-icon name="mail" item-left></ion-icon>{{shop.email}}</ion-item>
    <ion-item *ngIf="!isLeiter">
      <!--<ion-icon name="checkmark" item-left></ion-icon>-->
      <ion-label>marked as currently{{isAnwesend ? ' ' : ' not '}}working</ion-label>
      <ion-toggle (click)="switchAttendance()" [checked]="isAnwesend" color="secondary" item-left></ion-toggle>
    </ion-item>
  </ion-item-group>


  <ion-list *ngIf="isLeiter">
    <ion-item-divider color="light" (click)="addCoworkers()">Co-Workers</ion-item-divider>
    <ion-item-sliding *ngFor="let manager of managers" #item>
      <ion-item>
        {{manager.anwender.nutzerName}} <ion-badge item-right>Manager</ion-badge>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="fireManager(item, manager.leiter.id)"><ion-icon name="remove"></ion-icon>Fire</button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding *ngFor="let employee of employees" #item>
      <ion-item>
        {{employee.anwender.nutzerName}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="fireEmployee(item, employee.mitarbeiter.id)"><ion-icon name="remove"></ion-icon>Fire</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="isLeiter">
    <ion-item-divider color="light">Services</ion-item-divider>
    <ion-item (click)="createService()">
      Add New Service
    </ion-item>
    <ion-item-sliding *ngFor="let service of services" #item>
      <ion-item (click)="showService(service.id)">
        {{service.name}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteService(service.serviceID)"><ion-icon name="trash"></ion-icon>Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="!isLeiter">
    <ion-item-divider color="light">Queue</ion-item-divider>
    <ion-item *ngFor="let q of queue">
      Heyyy
    </ion-item>
  </ion-list>

</ion-content>


