<!--
  Generated template for the MyShopSingle page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="light">
    <ion-title>My Shop</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="group info-group">
    <p class="sectionName">Overview<i *ngIf="isLeiter" class="fa fa-wrench right" (click)="editShopInfo()"></i></p>
    <p class="item"><i class="fa fa-home"></i>{{shop.name}}</p>
    <p class="item"><i class="fa fa-location-arrow"></i>{{shop.address}}</p>
    <p class="item"><i class="fa fa-clock-o"></i>{{shop.openingHours}}</p>
    <p class="item"><i class="fa fa-phone"></i>{{shop.phone}}</p>
    <p class="item"><i class="fa fa-envelope-o"></i>{{shop.email}}</p>
  </div>
  <div class="group" *ngIf="isLeiter">
    <p class="sectionName">Co-Workers<i class="fa fa-plus right" (click)="addCoworkers()"></i></p>
    <ion-list>
    <ion-item-sliding *ngFor="let manager of managers" #item>
      <ion-item>
        {{manager.anwender.nutzerName}} <span class="manager">Manager</span>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="fireManager(item, manager.leiter.id)"><ion-icon class="fa fa-ban"></ion-icon>Fire</button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding *ngFor="let employee of employees" #item>
      <ion-item>
        {{employee.anwender.nutzerName}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="fireEmployee(item, employee.mitarbeiter.id)"><ion-icon class="fa fa-ban"></ion-icon>Fire</button>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
  </div>
  <div class="group" *ngIf="isLeiter">
    <p class="sectionName">Services<i class="fa fa-plus right" (click)="createService()"></i></p>
    <ion-list>
      <ion-item-sliding *ngFor="let service of services" #item>
        <ion-item (click)="showService(service.id)">
          {{service.name}}
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteService(service.serviceID)"><ion-icon class="fa fa-minus-circle"></ion-icon>Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <div class="group" *ngIf="isLeiter === false">
    <p class="sectionName">Queue</p>
    <ion-list no-lines>
      <ion-item *ngIf="!isLeiter">
        <ion-label>Currently working</ion-label>
        <ion-toggle class="toggle-element" (click)="switchAttendance()" [checked]="isAnwesend" color="primary" item-right></ion-toggle>
      </ion-item>
      <ion-item *ngIf="queue.length > 0">Estimated last Service  {{queue.schaetzZeitpunkt | date: 'd.M.y HH:mm:ss'}}</ion-item>
      <ion-item *ngIf="queue.length < 1">Nobody in the line!</ion-item>
    </ion-list>
    <ion-list>
      <ion-item-sliding *ngFor="let q of queue.wsps" #item>
        <ion-item>
          <h2>{{q.anwender.nutzerName}}</h2>
          <h3>{{q.dlName}}</h3>
          <p>Estimated duration for Service is {{q.dauer/60}} Minutes</p>
          <ion-badge *ngIf="q.beginnZeitpunk != 0" color="primary" item-right>In progress</ion-badge>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button *ngIf="q.beginnZeitpunk == 0" color="primary" (click)="startWorkOn(q.id)"><ion-icon name="hammer"></ion-icon>Start</button>
          <button ion-button *ngIf="q.beginnZeitpunk != 0" color="secondary" (click)="finishWorkOn(q.id)"><ion-icon name="checkmark"></ion-icon>Finish</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>


  <!--<ion-list *ngIf="!isLeiter">-->
    <!--<ion-item-divider color="light">Queue</ion-item-divider>-->
    <!--<ion-item *ngIf="queue.length > 0">Estimated last Service  {{queue.schaetzZeitpunkt | date: 'd.M.y HH:mm:ss'}}</ion-item>-->
    <!--<ion-item *ngIf="queue.length < 1">Nobody in the line</ion-item>-->
    <!--<ion-item-sliding *ngFor="let q of queue.wsps" #item>-->
      <!--<ion-item>-->
        <!--<h2>{{q.anwender.nutzerName}}</h2>-->
        <!--<h3>{{q.dlName}}</h3>-->
        <!--<p>Estimated duration for Service is {{q.dauer/60}} Minutes</p>-->
        <!--<ion-badge *ngIf="q.beginnZeitpunk != 0" color="primary" item-right>In progress</ion-badge>-->
      <!--</ion-item>-->
      <!--<ion-item-options side="right">-->
        <!--<button ion-button *ngIf="q.beginnZeitpunk == 0" color="primary" (click)="startWorkOn(q.id)"><ion-icon name="hammer"></ion-icon>Start</button>-->
        <!--<button ion-button *ngIf="q.beginnZeitpunk != 0" color="secondary" (click)="finishWorkOn(q.id)"><ion-icon name="checkmark"></ion-icon>Finish</button>-->
      <!--</ion-item-options>-->
    <!--</ion-item-sliding>-->



  <!--</ion-list>-->

</ion-content>


